<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ tag description="checks login" %>
<%@ attribute  name="checklogin" fragment="checklogin_frg"%>
<!-- ------------------------------ checklogin.tag ----------------------------- -->

<%
    if ((session.getAttribute("userid") == null) || (session.getAttribute("userid") == "")) {
%>
<p>You are not logged in<br/>
<a href="index.jsp">Please Login</a></p>
<%} else {
%>
<h3>Welcome <%=session.getAttribute("userid")%></h3>
<%
    }
%>



<c:if test="${empty sessionScope.userid}">
    <c:redirect url="lform" />
        
<a href="login">Angemeldet:  <c:out value="${sessionScope['loginUser']}" />
</a>   
</c:if>
    

<!-- ------------------------------ checklogin.tag ----------------------------- -->