<%@ tag description="dummy tag file" %>
<%@ attribute  name="dummy" fragment="dummy_frg"%>
<!-- ------------------------------ dummy.jsp ----------------------------- -->
<p>
Context path is: ${applicationScope.contextPath}  </p>
<image src="${applicationScope.contextPath}/img/back.jpg">
<!-- ------------------------------ dummy.jsp ----------------------------- -->