
.autowidthimg {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

body {
    margin: 30px;
    padding: 30px;
}

textarea {
    width: 1400px;
    height: 600px;
    white-space: nowrap; /* will prevent the default wrapping of text to next line */
    overflow-x: auto; /* will make horizontal scroll-bar appear only when needed */
    font-size: 12px;
    font-family:Courier New;
}


         
.einrueckung{margin-left:40px;
}


.erzwungenerUmbruch {
    word-break:break-all;
    word-wrap:break-word;
}


.ragintable {
    width:90%;
    text-align: justify; 
    margin: 0 auto;   
}


.schluesselwert {
    width:"20%"; 
}

.raginWarning {
    color: red;
    background-color: blanchedalmond;
}

a.back-to-top {
    display: none;
    width: 60px;
    height: 60px;
    text-indent: -9999px;
    position: fixed;
    z-index: 999;
    right: 20px;
    bottom: 20px;
    background: #27AE61 url("../img/up-arrow.png") no-repeat center 43%;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
a:hover.back-to-top {
    background-color: #5bbfdf;
}